<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round|Lato|Raleway:400,700" rel="stylesheet">
    <title>AOPL</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Akademicka Orkiestra Politechniki Łódzkiej</h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">
            <img src="{% static 'logo.png' %}" width="40" height="40" class="d-inline-block align-top" alt="">
        </a>
            <div class="navbar-nav" id="navbarNav">
                <a class="nav-item nav-link ml-0" href="/">Strona główna</a>
                <a class="nav-item nav-link ml-4" href="#">Historia</a>
                <a class="nav-item nav-link ml-4" href="#">Galeria</a>
                <a class="nav-item nav-link ml-4" href="#">Nagrania</a>
                <a class="nav-item nav-link ml-4" href="#">Kontakt</a>
            </div>
        <a class="btn btn-outline-secondary my-sm-0 ml-auto" href="" role="button">Zaloguj się</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>