{% extends 'base.html' %}

{% block content %}
    <h2>Test test</h2>
    <p>Młodzi ludzie, których połączyła przyjaźń i pasja do muzyki grają pod dyr. prof. Ryszarda Jana Osmolińskiego. Spotykamy się w środy i piątki o godz. 18:00 w Sali Widowiskowej na Al. Politechniki 3a. Do zobaczenia!</p><br />
    <p>Akademicka Orkiestra Politechniki Łódzkiej powstała 25 listopada 2005r. pod dyr. prof. Ryszarda Jana Osmolińskiego – znanego pedagoga, skrzypka i dyrygenta.
        Członkami zespołu są głównie studenci, absolwenci, doktoranci, pracownicy, a także dzieci pracowników Politechniki Łódzkiej oraz studenci innych uczelni.
        Wspólne muzykowanie pozwala nam rozwijać umiejętności artystyczne, a koncerty dają bardzo dużo satysfakcji i przyjemności.
        W programie Akademickiej Orkiestry Politechniki Łódzkiej są zarówno utwory klasyczne i rozrywkowe. Szczególne miejsce w naszym repertuarze zajmuje muzyka filmowa. Utwory często są aranżowane specjalnie dla naszego zespołu przez Joannę Koszewską.
        Często koncertujemy na "własnym podwórku": w Łodzi, Krakowie, Wrocławiu, Zakopanem, Łowiczu, Sokolnikach, Uniejowie, Koluszkach.
        Na koncie mamy również wiele koncertów zagranicznych m.in na Ukrainie (2006r.), w Austrii (2007r.), we Włoszech, w Watykanie ( na Pl. Św. Piotra podczas Audiencji Generalnej Ojca Świętego Benedykta XVI)
        - 2013r. Złoty Dyplom na Międzynarodowym Festiwalu Orkiestr i Chórów w Baden-Baden<br />
        - 2014r. Międzynarodow Festiwalu Chórów i Orkiestr w Paryżu<br />
        - 2015r. koncerty Szwajcarii w Zurichu i Herisau<br />
        - styczeń 2016r. koncert Jubileuszowy z okazji 10 –lecia działalności na estradzie Państwowej Filharmonii im. A. Rubinsteina w Łodzi<br />
        - kwiecień 2016r. Złoty Dyplom na Międzynarodowym Festiwalu Orkiestr i Chórów w Porec w Chorwacji<br />
        - 2016r. wydanie płyty ze światowymi przebojami muzyki filmowej<br />
        - 2017r. koncerty w Szwajcarii w Zurichu, St. Gallen i w Biel/Bienne.</p>
{% endblock %}